.header-navbar {
    z-index: 999;
    position: fixed;
    width: 100%; 
    height: 85.79px;
    left: 0px;
    gap: 0px;
    border-radius: 0px 0px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 38.2px -8px #00000026;
    padding: 0px 3rem;
}

.navbar-separator {
    width: 2px;
    height: 50px;
    background-color: #181972; 
    margin: 0 15px; 
    display: inline-block;
    vertical-align: middle;
  }

