.about {
  display: flex;
  padding: 30px 0;
  /* background-color: navajowhite; */
  margin-left: 11%;
  width: 78%;

}

.about-img-first{
  position: absolute;
  top: 183%;
  z-index: 2;
}

.about-img-second{
  position: absolute;
  top: 250%;
  left: 62%;
  z-index: 2;
}

.about-one {
  margin-left: 17%;
  background-color: #FFF9DA;
  border-radius: 33px;
}

.about .container {
  max-width: 1320px;
}

.about .about-right-col {
  z-index: 1;
  width: 875px;
  height: 380px;
  padding-left: 25%;
}

.imgabt-first {
  max-width: 350px;
  height: 300px;
  box-shadow: 12px 12px 2px #FDDF49;
  border-radius: 33px;
}

.about-two {
  padding: 25px 150px 25px 0px;
  width: 80%;
  background-color: #6767C826;
  border-radius: 33px;
}

.about-two p{
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  letter-spacing: 0em;
  color: #000;
  width: 514.95px;
  height: 176px;
  top: 1722.71px;
  left: 0px;
  gap: 0px;
  opacity: 0px;
}


.about-two-content-two{
  margin-left: 12%;
}

.imgabt-second{
  max-width: 350px;
  height: 300px;
  box-shadow: 12px 12px 2px #292967;
  border-radius: 33px;
}

.about .about-right-col p {
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  letter-spacing: 0em;
  color: #000;
  width: 514.95px;
  height: 176px;
  top: 1722.71px;
  left: 954.25px;
  gap: 0px;
  opacity: 0px;
}

.subtext {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  color: #000000;
}

.title {
  width: 485px;
}

.about .about-left-col {
  z-index: 1;
  /* margin-left: 107px; */
}

.about .about-left-col img {
  margin: 0 auto;
  display: flex;
}


.bg-color {
  padding: 100px;
  padding-left: 250px;
  background-color: #FFF9DA;
  border-radius: 33px;
  margin-left: -150px;
  width: 900px;
  height: 500px;
}


.about-iit .bg-color {
  background-color: #6767C826;
  padding-left: 120px;
  margin-left: -182px;
}

.about-iit .about-right-col p {
  width: 518px;
}

.about-iit .about-left-col {
  margin-left: -140px;
}

@media only screen and (max-width: 767px) {

  .about {
    padding: 10px;
  }

  .about .about-left-col {
    margin-left: 0;
  }

  .bg-color {
    padding: 24px 24px 140px;
    margin-left: 0;
    width: 100% !important;
  }

  .about .about-right-col h2 {
    text-align: center;
  }

  .about .about-right-col h3 {
    text-align: center;
  }

  .about .about-right-col p {
    width: 100%;
    text-align: center;
  }

  .about .container-fluid .row {
    flex-direction: column-reverse;
  }

  .about .about-left-col {
    margin-top: -114px;
  }

  .about-iit {
    margin-top: 20px;
  }

  .about-iit .container-fluid .row {
    flex-direction: column;
  }

  .about-iit .bg-color {
    padding-left: 24px;
    margin-left: 0;
    width: 100%;
  }

  .about .about-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}