.our-compuses .our-compuses-banner {
    background-image: url('../../Assets/ourcampusesbckgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300.62px;
  }
  
  .our-compuses .container {
    max-width: 1320px;
    margin-top: -218px;
  }
  
  .our-compuses .container h3.subtext {
    color: #fff;
  }
  
  .our-compuses .container h2 {
    color: #FDDF49;
  }
  
  .our-compuses .container .row.heading .col-md-6 {
    padding: 0 35px;
  }

.our-campus-main-containt{
  justify-content: center;
  width: 84%;
  margin: 0% 8%;
  padding-bottom: 5%;
}

.our-campus-main-containt .carousel-indicators{
  top: 102%;
  button{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #D9D9D9;
  }

  button.active{
    width: 10px;
    height: 10px;
    background-color: #292967;
  }
}

.our-campus-main-containt .carousel-control-next{
  display: none;
}

.our-campus-main-containt .carousel-control-prev{
  display: none;
}


  @media only screen and (max-width: 767px){

    .our-compuses-heading-left-col {
        display: none !important;
      }
    
      .our-compuses-bottom-left-col {
        display: block !important;
        margin-bottom: 20px;
      }
    
      .our-compuses-bottom-left-col button {
        margin: 0 auto;
      }
    
      .our-compuses .container .row.heading .col-md-6 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .our-compuses .our-compuses-banner {
        min-height: 240.62px;
      }
    

  }