.LA-Y-arrow{
    position: absolute;
    left: 49%;
    transform: rotate(90deg);
    top: 108%;
    z-index: 99;
}
.learning-approach {
    background-image: url(../../Assets/LABackgroundImg.png);
    /* src: url(../../Assets/LABackgroundImg.png); */
    width: 93%;
    height: auto;
    gap: 0px;
    opacity: 0px;
    background-color: #292967;
    color: #FFFFFF;
    border-radius: 25px;
    position: absolute;
    top: 110%;
    left: 4%;
}

.learning-approach h3{
    margin-top: 20px;
    color: white;
    text-align: center;
}

.learning-approach h2{
    color: #FDDF49;
    text-align: center;
}

.learning-approach-container {
    display: flex;
    flex-wrap: wrap;
    color: orange;
    justify-content: space-around;
    flex-wrap: wrap;
}