.learning-approach-item {
    margin-left: 30px;
    display: flex;
    text-align: center;
    padding: 5px;
    height: auto;
    width: 205px;
    color: #ffffff;
    /* font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center; */

}

.learning-approach-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.learning-approach-separator{
    width: 2px;
    height: 140px;
    margin-left: 35px;
    display: inline-block;
    vertical-align: middle;
    border-left: 2px dashed #FFFF;
}