.Hero-main {
    max-width: 100vw;
    padding-bottom: 9%;
}

.Background-image {
    /* background: linear-gradient(180deg, #E6F3FF 0%, #FFFCEB 100%); */
    background-position: center;
    min-height: 700.9px;
    position: relative;
}


.Background-image::before {
    content: "";
    height: 1000.9px;
    width: 100%;
    background: linear-gradient(180deg, #E6F3FF 0%, #FFFCEB 100%);
    opacity: 85%;
    position: absolute;
    left: 0;
    top: 0;

}

.Background-image img {
    height: 1000.9px;
    /* opacity: 70%; */
    width: 100%;
    object-fit: cover;
}

.Hero-contenet{
    position: absolute;
    left: 0;
    top: 110px;
}