
.HLForm-main{
    margin-top: 20px;
    margin-left: 25px;
    width: 358px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 17px;
    box-shadow: 0px 4px 4px 0px #DEF0FF;
}

.HLForm-main-containt {

    Width: 330px;
    margin: 14px;
    background-color: transparent;
    
}

.HLForm-title {
    background: #FDDF49;
    border-radius: 17px 17px 0px 0px;
    text-align: center;
    padding: 10px 0;
}

.form-control-cal{
    display: none;
}

#academicYear{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#relationship{
    display: flex;
    align-items: center;
}

.relationship-btns{
    display: flex;
    align-items: center;
}